<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webbleen.webblog.dao.SpecialItemMapper">
    <resultMap id="specialItem" type="com.webbleen.webblog.entity.SpecialItem"/>
    <sql id="Base_Column_List">
    uuid, code, name, `range`, status, start_time AS startTime, end_time as endTime, type, create_time as createTime, update_time as updateTime, key1, key2, key3
    </sql>


    <select id="getSpecialItemList" resultMap="specialItem">
        SELECT * FROM specialItem
    </select>


    <select id="queryMaxCode" resultType="String">
        SELECT MAX(code)
        FROM specialItem
    </select>

    <!-- 列表查询  -->
    <select id="findPageDo" resultMap="specialItem" parameterType="com.webbleen.webblog.entity.PageDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM specialItem
        ORDER BY create_time DESC
        limit #{limit} offset #{offset}
    </select>

    <!-- 列表查询总条数  -->
    <select id="findPageDoCount" resultType="java.lang.Integer" parameterType="com.webbleen.webblog.entity.PageDo">
        SELECT COUNT(*) count FROM specialItem
  </select>
</mapper>