<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webbleen.webblog.dao.UserMapper">
    <resultMap id="user" type="com.webbleen.webblog.entity.User"/>
    <parameterMap id="user" type="com.webbleen.webblog.entity.User"/>
    <select id="findUserByUsername" parameterType="String" resultMap="user">
        SELECT * FROM user WHERE username=#{1}
    </select>


    <update id="updateUserByUsername" parameterMap="user">
        UPDATE user SET password=#{password} WHERE username=#{username}
    </update>

    <delete id="deleteUserByUsername" parameterType="String">
        DELETE FROM user WHERE username=#{1}
    </delete>

    <!-- 使用alias自定义的parameterType-->
<!--    <insert id="saveUser" parameterType="user">-->
<!--        INSERT INTO user (phone, username, password, gender, trueName, birthday, email, personalBrief, avatarImgUrl, lastLoginTime) VALUES (#{phone}, #{username}, #{password}, #{gender}, #{trueName}, #{birthday}, #{email}, #{personalBrief}, #{avatarImgUrl}, #{lastLoginTime})-->
<!--    </insert>-->

    <select id="getUserList" resultMap="user">
        SELECT * FROM user
    </select>
</mapper>